Repository IDK-Silver/Social-xLSTM: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-rules, doc-sync, interface-version

architecture-rules:
  name: Architecture compliance check
  entry: python scripts/check_architecture_rules.py
  language: system

doc-sync:
  name: Documentation sync validation
  entry: python scripts/doc_sync.py --validate
  language: system

interface-version:
  name: Interface version compatibility
  entry: python -m social_xlstm.versioning --check-compatibility
  language: system

feat: Implement emergency data quality remediation plan for Social-xLSTM
  CLAUDE.md
  docs/data-quality-remediation-plan.md
  quick_train_social_pooling.sh
  src/social_xlstm/data/data_cleaner.py
  src/social_xlstm/models/distributed_social_xlstm.py
  tests/functional/test_end_to_end.py
  tests/integration/test_training_pipeline.py
  tests/test_social_xlstm/models/test_xlstm.py
  tests/unit/dataset/test_json_utils.py
  tests/unit/dataset/test_processor.py
  tests/unit/dataset/test_zip_utils.py
  tests/unit/training/test_recorder.py
  tests/unit/visualization/test_prediction_visualization.py
  tests/unit/visualization/test_training_visualizer.py
  todo.md
Due: architecture-rules

fix: add missing RMSE metrics to DistributedSocialXLSTM training
  src/social_xlstm/models/distributed_social_xlstm.py
Due: architecture-rules

initial
  scripts/dataset/pre-process/PEMS-BAY/convert_pems_bay_csv_to_json.py
Due: none

fix: disable early stopping to ensure full 50 epochs training
  Snakefile
  cfgs/snakemake/default.yaml
  cfgs/snakemake/dev.yaml
  scripts/train_distributed_social_xlstm.py
  scripts/utils/run_all_plots.py
  todo.md
  vd_data_quality_report.md
Due: none

Add gradient clipping and scheduler patience arguments; address data leakage and model performance issues in documentation
  Snakefile
  cfgs/snakemake/default.yaml
  cfgs/snakemake/dev.yaml
  scripts/dataset/pre-process/PEMS-BAY/convert_pems_bay_csv_to_json.py
  scripts/dataset/pre-process/PEMS-BAY/pemsbay_sensors.json
  scripts/train/without_social_pooling/common.py
  scripts/train_distributed_social_xlstm.py
  todo.md
Due: none

Refactor: consolidate documentation structure and remove CI/CD configurations
  .github/workflows/architecture-governance.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  CLAUDE.md
  docs/README.md
  docs/concepts/architecture/data_pipeline.md
  docs/concepts/architecture/social_pooling.md
  docs/concepts/data-quality-remediation-plan.md
  docs/concepts/datamodule-comparison.md
  docs/concepts/decisions/README.md
  docs/concepts/decisions/adr-001-distance-based-social-pooling.md
  docs/concepts/mathematical-specifications.md
  docs/concepts/papers/README.md
  docs/concepts/papers/social-lstm-2016.md
  docs/concepts/papers/xlstm-2024.md
  docs/guides/ci-cd-automation-guide.md
  docs/guides/project-cleanup-plan.md
  docs/guides/quickstart/first-model.md
  docs/guides/quickstart/project-setup.md
  docs/guides/quickstart/social-pooling-quickstart.md
  docs/guides/training-with-sp.md
  docs/guides/training-without-sp.md
  docs/guides/utils-guide.md
  docs/reference/analysis-tools.md
  docs/reference/configuration-guide.md
  docs/reference/testing-guide.md
  docs/reference/tools-overview.md
  docs/reference/validation-tools.md
  maintenance/cleanup-report.md
  maintenance/md-files-cleanup-plan.md
  reports/vd_data_quality_report_20250805.md
  todo.md
Due: none

Remove maintenance documentation files
  maintenance/cleanup-report.md
  maintenance/md-files-cleanup-plan.md
Due: none

分類
  CLAUDE.md
  README.md
  docs/_work/task.md
  docs/guides/utils-guide.md
  docs/reference/analysis-tools.md
  docs/reference/tools-overview.md
  docs/reference/validation-tools.md
  scripts/benchmark_distributed_memory.py
  scripts/check_architecture_rules.py
  scripts/dataset/pre-process/PEMS-BAY/convert_pems_bay_csv_to_json.py
  scripts/doc_sync.py
  scripts/quick-dev-check.sh
  scripts/test_distributed_simple.py
  scripts/test_spatial_integration.py
  scripts/test_training_script.py
  scripts/train_distributed_social_xlstm.py
  scripts/utils/claude_init.py
  todo.md
  tools/analysis/data_quality_analysis.py
  tools/analysis/h5_data_analysis.py
  tools/analysis/temporal_pattern_analysis.py
  tools/config/config_generator.py
  tools/diagnostics/data_stability_tools.py
  tools/diagnostics/diagnostic_tools.py
  tools/diagnostics/h5_structure_inspector.py
  tools/validation/overfitting_validation.py
  tools/validation/temporal_split_validation.py
  tools/validation/training_validation.py
  workflow/snakemake_warp.py
Due: none

Add: comprehensive YAML-based configuration system
  cfgs/data/dev.yaml
  cfgs/datasets/pems_bay.yaml
  cfgs/datasets/taiwan_vd.yaml
  cfgs/models/lstm.yaml
  cfgs/models/xlstm.yaml
  cfgs/profiles/pems_bay_dev.yaml
  cfgs/profiles/taiwan_vd_dev.yaml
  cfgs/snakemake/default.yaml
  cfgs/snakemake/dev.yaml
  cfgs/social_pooling/spatial_basic.yaml
  cfgs/training/dev.yaml
Due: none

Refactor: modernize dataset and model architecture
  src/social_xlstm/dataset/__init__.py
  src/social_xlstm/dataset/config/base.py
  src/social_xlstm/dataset/core/collators.py
  src/social_xlstm/dataset/core/datamodule.py
  src/social_xlstm/dataset/extractors/__init__.py
  src/social_xlstm/dataset/extractors/base.py
  src/social_xlstm/dataset/extractors/pems_bay.py
  src/social_xlstm/dataset/extractors/taiwan_vd.py
  src/social_xlstm/dataset/registry.py
  src/social_xlstm/dataset/storage/h5_converter.py
  src/social_xlstm/dataset/storage/h5_reader.py
  src/social_xlstm/err_impl/config/__init__.py
  src/social_xlstm/err_impl/config/dataset_config.py
  src/social_xlstm/err_impl/config/manager.py
  src/social_xlstm/err_impl/config/parameter_mapper.py
  src/social_xlstm/err_impl/config/registry.py
  src/social_xlstm/models/distance_functions.py
  src/social_xlstm/models/distributed_config.py
  src/social_xlstm/models/distributed_social_xlstm.py
  src/social_xlstm/models/model_factory.py
  src/social_xlstm/models/social_pooling.py
  src/social_xlstm/models/social_pooling_config.py
  src/social_xlstm/models/social_traffic_model.py
  src/social_xlstm/models/vd_xlstm_manager.py
  src/social_xlstm/models/xlstm.py
  src/social_xlstm/utils/data_cleaner.py
  src/social_xlstm/utils/tensor_checks.py
  src/social_xlstm/utils/yaml.py
Due: architecture-rules

docs: comprehensive documentation updates and new concept guides
  docs/PROJECT_STATUS.md
  docs/_work/task.md
  docs/concepts/data-quality-remediation-plan.md
  docs/concepts/mathematical-specifications.md
  docs/concepts/pems-bay-validation-analysis.md
  docs/concepts/social-xlstm-architecture.md
  docs/concepts/xlstm-dimension-analysis.md
  docs/guides/dynamic-configuration-system.md
  docs/guides/quickstart/social-pooling-quickstart.md
  docs/guides/training-with-sp.md
  docs/reference/api-reference.md
Due: none

Add: training scripts and configuration examples
  examples/social_traffic_model_example.py
  examples/test_spatial_only_config.py
  examples/test_xlstm_dimensions.py
  scripts/dataset/pre-process/PEMS-BAY/convert_pems_bay_csv_to_json.py
  scripts/dataset/pre-process/PEMS-BAY/pemsbay_sensors.json
  scripts/dataset/pre_process/PEMS_BAY/convert_pems_bay_csv_to_json.py
  scripts/dataset/pre_process/metr_la/test.py
  scripts/dataset/pre_process/pems_bay/README.md
  scripts/dataset/pre_process/pems_bay/convert_pems_bay_to_hdf5.py
  scripts/dataset/pre_process/taiwan_vd/create_h5_file.py
  scripts/dataset/pre_process/taiwan_vd/list_all_zips.py
  scripts/dataset/pre_process/taiwan_vd/unzip_and_to_json.py
  scripts/test_distributed_basic.py
  scripts/train/with_social_pooling/err_imp/common.py
  scripts/train/with_social_pooling/err_imp/train_distributed_social_xlstm.py
  scripts/train/with_social_pooling/err_imp/train_multi_vd_social.py
  scripts/train/with_social_pooling/err_imp/train_single_vd_social.py
  scripts/train/with_social_pooling/post_fusion/__init__.py
  scripts/train/with_social_pooling/post_fusion/common.py
  scripts/train/with_social_pooling/post_fusion/gradient_check.py
  scripts/train/with_social_pooling/post_fusion/simple_test.py
  scripts/train/with_social_pooling/post_fusion/test_integration.py
  scripts/train/with_social_pooling/post_fusion/train_single_vd.py
  scripts/train/with_social_pooling/train_multi_vd.py
  scripts/train/without_social_pooling/common.py
Due: none

Update: project configuration and documentation
  .claude/agents/comment-translator.md
  .gitignore
  CLAUDE.md
  README.md
  Snakefile
Due: none

Refactor: remove obsolete files and deprecated modules
  reports/vd_data_quality_report_20250805.md
  src/social_xlstm/data/__init__.py
  src/social_xlstm/data/data_cleaner.py
  src/social_xlstm/data/distributed_datamodule.py
  src/social_xlstm/interfaces/__init__.py
  src/social_xlstm/interfaces/base_social_pooling.py
  src/social_xlstm/interfaces/config.py
  src/social_xlstm/interfaces/distributed_model.py
  src/social_xlstm/interfaces/tensor_spec.py
  src/social_xlstm/interfaces/types.py
  src/social_xlstm/interfaces/vd_manager.py
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/sample_data.py
  tests/functional/test_end_to_end.py
  tests/integration/conftest.py
  tests/integration/test_integration.py
  tests/integration/test_training_pipeline.py
  tests/integration/test_vd_selection_real_data.py
  tests/pooling/test_xlstm_pooling.py
  tests/pytest.ini
  tests/test_social_xlstm/models/test_lstm_output_parsing.py
  tests/test_social_xlstm/models/test_xlstm.py
  tests/unit/conftest.py
  tests/unit/dataset/__init__.py
  tests/unit/dataset/test_config.py
  tests/unit/dataset/test_extract_archive.py
  tests/unit/dataset/test_h5_converter.py
  tests/unit/dataset/test_h5_operations.py
  tests/unit/dataset/test_integration.py
  tests/unit/dataset/test_processor.py
  tests/unit/training/test_recorder.py
  tests/unit/training/test_vd_selection.py
  workflow/snakemake_warp.py
Due: architecture-rules, doc-sync, interface-version

docs: archive architecture refactoring plan and clean task.md
  CLAUDE.md
  docs/_work/task.md
  docs/concepts/decisions/archive/architecture-refactoring-plan-2025-08-26.md
Due: none

Refactor: remove obsolete training scripts and config modules
  scripts/train/with_social_pooling/err_imp/common.py
  scripts/train/with_social_pooling/err_imp/train_distributed_social_xlstm.py
  scripts/train/with_social_pooling/err_imp/train_multi_vd_social.py
  scripts/train/with_social_pooling/err_imp/train_single_vd_social.py
  scripts/utils/generate_training_plots.py
  scripts/utils/generate_training_report.py
  scripts/utils/quality_check.py
  scripts/utils/run_all_plots.py
  src/social_xlstm/err_impl/config/__init__.py
  src/social_xlstm/err_impl/config/dataset_config.py
  src/social_xlstm/err_impl/config/manager.py
  src/social_xlstm/err_impl/config/parameter_mapper.py
  src/social_xlstm/err_impl/config/registry.py
  src/social_xlstm/evaluation/evaluator.py
  src/social_xlstm/visualization/training_visualizer.py
Due: architecture-rules

Update: refactor core model architecture components
  src/social_xlstm/models/distributed_config.py
  src/social_xlstm/models/distributed_social_xlstm.py
  src/social_xlstm/models/vd_xlstm_manager.py
  src/social_xlstm/training/base.py
Due: architecture-rules

Add: configuration profiles and dataset settings
  cfgs/datasets/pems_bay_fast_test.yaml
  cfgs/profiles/pems_bay_10vd_fast.yaml
  cfgs/profiles/pems_bay_fast_test.yaml
  cfgs/training/dev.yaml
Due: none

Add: new utility scripts and metrics module
  scripts/dataset/pre_process/metr_la/convert_metr_la_to_hdf5.py
  scripts/dataset/pre_process/metr_la/test.py
  scripts/utils/generate_metrics_plots.py
  scripts/utils/h5_time_slice.py
  src/social_xlstm/metrics/__init__.py
  src/social_xlstm/metrics/plotter.py
  src/social_xlstm/metrics/writer.py
Due: architecture-rules

Add: archive deprecated modules for reference
  examples/err_impl/config/__init__.py
  examples/err_impl/config/dataset_config.py
  examples/err_impl/config/manager.py
  examples/err_impl/config/parameter_mapper.py
  examples/err_impl/config/registry.py
  scripts/utils/deprecated/generate_training_plots.py
  scripts/utils/deprecated/generate_training_report.py
  scripts/utils/deprecated/quality_check.py
  scripts/utils/deprecated/run_all_plots.py
  src/social_xlstm/deprecated/__init__.py
  src/social_xlstm/deprecated/evaluation/__init__.py
  src/social_xlstm/deprecated/evaluation/evaluator.py
  src/social_xlstm/deprecated/visualization/__init__.py
  src/social_xlstm/deprecated/visualization/training_visualizer.py
Due: architecture-rules

Update: enhance multi-VD training script
  scripts/train/with_social_pooling/train_multi_vd.py
Due: none

docs: update architecture documentation and project status
  README.md
  docs/_work/task.md
  docs/concepts/social-xlstm-architecture.md
Due: none

Update: add .claude/ to gitignore
  .gitignore
Due: none

Update: exclude PDF files from version control
  .gitignore
Due: none

Fix: 解決 Social-xLSTM 數據管道縮放不一致問題
  cfgs/profiles/pems_bay_10vd_fast.yaml
  debug_scaler_details.py
  debug_scaling_issue.py
  src/social_xlstm/dataset/core/processor.py
  src/social_xlstm/dataset/core/timeseries.py
  test_comprehensive_scaling.py
  test_scaling_fix.py
Due: architecture-rules

Add: METR-LA dataset configuration and profile
  cfgs/datasets/metr_la.yaml
  cfgs/profiles/metr_la_dev.yaml
Due: none

Refactor: migrate scaling test files to examples directory
  examples/test_comprehensive_scaling.py
  examples/test_scaling_fix.py
Due: none

Add: training utilities for non-social pooling workflows
  scripts/train/without_social_pooling/common_test.py
  scripts/train/without_social_pooling/train_multi_vd_test.py
Due: none

fix metric
  README.md
  cfgs/data/dev.yaml
  cfgs/data/standard.yaml
  cfgs/datasets/metr_la/standard.yaml
  cfgs/datasets/pems_bay/pems_bay.yaml
  cfgs/datasets/pems_bay/pems_bay_fast_test.yaml
  cfgs/datasets/pems_bay/standard.yaml
  cfgs/datasets/taiwan_vd/standard.yaml
  cfgs/profiles/pems_bay/fast_evaluation.yaml
  pytest.ini
  scripts/train/deprecated/without_social_pooling/common.py
  scripts/train/deprecated/without_social_pooling/common_test.py
  scripts/train/deprecated/without_social_pooling/train_independent_multi_vd.py
  scripts/train/deprecated/without_social_pooling/train_multi_vd.py
  scripts/train/deprecated/without_social_pooling/train_multi_vd_test.py
  scripts/train/deprecated/without_social_pooling/train_single_vd.py
  scripts/train/with_social_pooling/READM.md
  scripts/train/with_social_pooling/independent_xlstm.py
  scripts/train/with_social_pooling/shared_encoder.py
  scripts/utils/generate_metrics_plots.py
  src/social_xlstm/models/shared_social_xlstm.py
Due: architecture-rules

add other social pooling
  cfgs/data/standard.yaml
  cfgs/datasets/pems_bay/standard.yaml
  cfgs/profiles/metr_la/fast_evaluation.yaml
  cfgs/profiles/metr_la/standard.yaml
  cfgs/social_pooling/st_attention_basic.yaml
  cfgs/training/dev.yaml
  scripts/dataset/pre_process/metr_la/convert_metr_la_to_hdf5.py
  scripts/dataset/pre_process/pems_bay/convert_pems_bay_to_hdf5.py
  scripts/train/with_social_pooling/READM.md
  scripts/train/with_social_pooling/README.md
  scripts/train/with_social_pooling/shared_encoder.py
  src/social_xlstm/dataset/core/datamodule.py
  src/social_xlstm/dataset/core/timeseries.py
  src/social_xlstm/metrics/writer.py
  src/social_xlstm/models/distributed_config.py
  src/social_xlstm/models/shared_social_xlstm.py
  src/social_xlstm/pooling/st_attention_pooling.md
  src/social_xlstm/pooling/st_attention_pooling.py
Due: architecture-rules

add uv
  .python-version
  AGENTS.md
  pyproject.toml
  uv.lock
Due: none

change parms
  cfgs/profiles/pems_bay/standard.yaml
  cfgs/social_pooling/st_attention_stronger.yaml
  scripts/dataset/pre_process/metr_la/convert_metr_la_to_hdf5.py
  src/social_xlstm/models/distributed_config.py
  src/social_xlstm/models/shared_social_xlstm.py
Due: architecture-rules

Refactor: consolidate social pooling configs; improve metrics and training I/O
  cfgs/data/standard.yaml
  cfgs/profiles/pems_bay/standard.yaml
  cfgs/social_pooling/example/spatial_basic.yaml
  cfgs/social_pooling/example/st_attention_basic.yaml
  cfgs/social_pooling/st_attention.yaml
  cfgs/training/standard.yaml
  scripts/train/with_social_pooling/shared_encoder.py
  scripts/utils/generate_metrics_plots.py
  src/social_xlstm/metrics/plotter.py
  src/social_xlstm/metrics/writer.py
  src/social_xlstm/models/shared_social_xlstm.py
Due: architecture-rules

add new config
  cfgs/profiles/metr_la/fast_evaluation.yaml
  cfgs/profiles/metr_la/standard.yaml
  cfgs/profiles/pems_bay/fast_evaluation.yaml
  cfgs/profiles/pems_bay/standard.yaml
  cfgs/social_pooling/st_attention.yaml
Due: none

Path conditions:
  architecture-rules: any of: ^src/social_xlstm/
  doc-sync: any of: ^(src/social_xlstm/interfaces/|docs/architecture/)
  interface-version: any of: ^src/social_xlstm/interfaces/
